@model Proyecto_Restaurante.Models.Cliente

@{
    ViewData["Title"] = "Detalle Cliente";
}

<div class="card shadow">
    <div class="card-header bg-info text-white">
        <h4 class="mb-0">👤 Información del Cliente</h4>
    </div>

    <div class="card-body">
        <p><strong>Nombre:</strong> @Model.Nombre</p>
        <p><strong>Identificación:</strong> @Model.Identificacion</p>
        <p><strong>Correo:</strong> @Model.CorreoElectronico</p>
        <p><strong>Teléfono:</strong> @Model.Telefono</p>

        <div class="d-flex justify-content-between">
            <a asp-action="Index" class="btn btn-secondary">← Volver</a>
            <a asp-action="Edit" asp-route-id="@Model.ClienteId" class="btn btn-warning">Editar</a>
        </div>
    </div>
</div>