@model Proyecto_Restaurante.Models.Reserva

@{
    ViewData["Title"] = "Detalle Reserva";
}

<div class="card shadow">
    <div class="card-header bg-info text-white">
        <h4 class="mb-0">📄 Detalle de Reserva</h4>
    </div>

    <div class="card-body">

        <p><strong>Fecha:</strong> @Model.Fecha</p>
        <p><strong>Personas:</strong> @Model.CantidadPersonas</p>
        <p><strong>Estado:</strong> @Model.Estado</p>
        <p><strong>Cliente:</strong> @Model.Cliente?.ClienteId</p>
        <p><strong>Mesa:</strong> @Model.Mesa?.MesaId</p>

        <div class="d-flex justify-content-between mt-3">
            <a asp-action="Index" class="btn btn-secondary">← Volver</a>
            <a asp-action="Edit" asp-route-id="@Model.ReservaId" class="btn btn-warning">Editar</a>
        </div>

    </div>
</div>